body {
    background-image: url(./picture/diarybg.jpg);
}

.diary{
    height: 90vh;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    background-color:#FFF7E8;
}

.diary-top{
    display: flex;
    flex-direction: row; /* 左至右 */
    justify-content:space-around;   /* 資料橫向致中 */
    align-items: center;            /* 上下致中 */
}

#date{
    font-size: 20px;
}

select{
    font-size: 20px;
}

h1{
    font-size: 20px;
    display: inline-block;
}
.del{
    background-color: white;
    border-radius: 10%;
    border: 0px ;
    font-size: 20px;
}

#flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

textarea{
    width: 100%;
    height: 70vh;
    font-size: 20px;
}

.list {
    height: 90vh;
    padding: 20px 20px 5px 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FFF7E8;
    overflow: auto;
  }

button:hover{
    background-color: gray;  
}

#arr:hover{
    background-color: rgba(243, 192, 97, 0.479);
}

span{
    font-size: 20px;
}

P{
    word-wrap:break-word;   /*以單字為單位換行*/

}

h2:hover{
    background:black;
    color: white;
    display:inline;
    border-radius: 10px;
}