a{text-decoration:none}
a:hover{text-decoration:none}  /*超連結去底線*/

@keyframes begin{
    0%{color: #C2C2FF;}
    10%{color: gray;}
    20%{color: gold;}
    30%{color: orange;}
    40%{color: red;}
    50%{color: black;}
    60%{color: white;}
    70%{color: purple;}
    80%{color: #8C8CFF;}
    90%{color: blue;}
    100%{color: green;}
}

/* .title{
    animation-name:change-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} */


.nav{
z-index: 9999;
position: fixed;
top: 0%;left: 0%; 
width:100%; 
height: 60px;; 
background-color: white ;
opacity:0.9;
display: flex;
transition: .6s;

}

.nav img{
   height: 30px; width: 30px; ;
}

.nav-1{
flex: 1;
height:100%;
object-fit:cover;
object-position:50% 50%;
display: flex;
align-items: center;
justify-content:center;
}


.btn_control span{
    opacity: 0;
  }

.nav-2{
  flex: 1;
  display: flex;
}

.nav-2-1{
  font-weight: 900;
  flex: 1;
  display: flex;
  flex-direction: row;                /*由左至右*/
  justify-content: space-evenly;      /*間隔*/
  align-items: center;                /*水平*/
}



.nav-2 a{
    letter-spacing:0.15em;          /* 文字間距 */
    font-size: 20PX;
    margin: 3px;
    position: relative;
    transform: translateY(0);
    transition: .6s;
    color: #0d6efd;
}

.nav-2 a::after{
    content: '';
    position: absolute;
    left: 0%;
    right: 100%;
    bottom: -5px;
    border-bottom: 1px solid purple;
    transition: .4s;
}

.nav-2 a:hover{
    border-radius: 5px;
    color: purple;
    transform: translateY(-3px);
}

.nav-2 a:hover::after{
    left: 0;
    right: 0;
}


.active{
  color: purple;
}

.container-fluid{
    padding:4% 3% ;
}

.row > div{
    padding: 3%;
}



.title1 h5{
    color: orange;
    letter-spacing: 0.3em;
    font-size: 20px;
    font-weight: 900;
}

.title1{
    position: sticky;
    top:0%;
    z-index:-1;
}

.mainpicture img{
    height: 100vh;
    width: 100%;
    object-fit:cover;
    object-position:50% 50%;
}

.title2 {
    background-color:#FFF8D7;
}

#title2{
    opacity: 0;
    transition: 3s;
}


h1{
    color: purple;
    letter-spacing:0.15em;
    font-size:60px;
    font-weight:800;    /* 粗體 */
    text-align: center;
}

hr{
    color: gray;
    align-items: center;
    width: 100%;
    margin:30px 0;

}

.title2 .box{
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

h2{
    font-weight:800;    /* 粗體 */
    font-size: 40px;
    color: rgba(255, 175, 1, 0.973);

}

.title2-1 img{
    max-width: 80%;
    border-radius: 45px;
}

.title2-3{
    
}

.title2 p{
    font-family: DFKai-sb;
    display: inline-block;
    color: black;
    font-size: 25px;
    line-height: 1.8em;
    letter-spacing: 0.2em;
    word-wrap:break-word;   /*以單字為單位換行*/
}

.title3{
    background-color:white;
    transition: .6s;
}

.title3 img{
    border-radius: 10px;
}


h3{
    color: purple;
    font-size: 25px;
    line-height:1.2em ;
    letter-spacing:0.1em;
    text-align: left;
}

.title3 p{
    font-size: 20px;
    color: purple;
    line-height: 1.0em;
    letter-spacing:0.1em;
    text-align: left;
}

.hover1{
    position: absolute;
    opacity: 0;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title3-1{
    border-radius: 10px;
}

.title3 .box{
    position: relative;
}

.title3 h4::after{
    content: '';
    border-bottom: 2px solid purple;
    font-size: 5px;
    padding: 0;
    margin: 0;
    display: block;
    width: 0%;
    transition:1s ;
}

.title3 .box:hover h4::after{
    width: 100%;
}
.title3 .box:hover .hover1{

    transition: 0.5s;
    background-color: rgba(140, 247, 255, 0.884);
    opacity: 1;
    padding:0em 3em;
}

.title4{
    background-color:#FFF8D7;

}

.title4 div{
    text-align: center;
}

.title4 p{
    color: black;
    font-size: 25px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    word-wrap:break-word;   /*以單字為單位換行*/
} 



.footer{
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: rgba(140, 247, 255, 0.884);
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.3em;
    color: purple;
}

@media screen and (max-width: 767px){

    .mainpicture img{
        height: 50vh;
        width: 100%;
        object-fit:cover;
        object-position:50% 50%;
    }
    
    .nav-2{
        display: flex;
        flex-direction: row;                /*由左至右*/
        justify-content: space-evenly;      /*間隔*/
        align-items: center;                /*水平*/

        }

        
    .title2 p{
        font-size: 20px;
    }

    .title4 p{
        color: black;
        font-size: 20px;
        line-height: 1.8em;
        letter-spacing: 0.1em;
        word-wrap:break-word;   /*以單字為單位換行*/
    } 
    h1{
        font-size:30px;
    }
    
    h2{
    font-size: 25px;
    }

    h3{
    font-size: 10px;
    }


    .footer{
        font-size: 15px;   
    }

    .hover1{
        position: absolute;
        opacity: 0;
        text-align: center;
    }
    .hover1.hover1-2{
        font-size: 5px;
    }
    

    .nav-1{
        flex: 1;
        height:100%;
        object-fit:cover;
        object-position:50% 50%;
        display: flex;
        align-items: center;
        justify-content:left;
        margin-left: 5px;
    }



    .btn_control{
        display: block;
        font-size: 30px;
        color: rgba(140, 247, 255, 0.884);
        border-radius:10px ;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    
    .btn_control span{
        opacity:0;
        background-color: rgba(140, 247, 255, 0.884);

    }
    
    .btn_control::before{
        content: '';
        position: absolute;
        height: 2px;
        left: 2px;
        width: 30px;
        background-color: purple;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 8px 0px purple,
                    0px -8px 0px purple;
    
    }
    
    
    .nav-2-1{
    background-color: rgba(140, 247, 255, 0.884);
    position:absolute;
    top: 45px;
    right:-100%;
    width: 30%;
    flex: 1;
    display: flex;
    flex-direction: column;                /*由左至右*/
    align-items: center;                /*水平*/
    }
    
    .nav-2-1 a{
    font-weight: 900;
    color: purple;
    
    }
    
    #btn_control:checked ~ nav{
    right:50px;
    }
}