a{text-decoration:none}
a:hover{text-decoration:none}  /*超連結去底線*/

@keyframes begin{
    0%{color: #C2C2FF;}
    10%{color: gray;}
    20%{color: gold;}
    30%{color: orange;}
    40%{color: red;}
    50%{color: black;}
    60%{color: white;}
    70%{color: purple;}
    80%{color: #8C8CFF;}
    90%{color: blue;}
    100%{color: green;}
}

/* .title{
    animation-name:change-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} */

.nav{
position: fixed;
top: 0%;left: 0%; 
width:100%; 
height: 60px;; 
background-color: white ;
opacity:0.9;
display: flex;
}

.nav img{
   height: 30px; width: 30px; ;
}

.nav-1{
flex: 1;
height:100%;
object-fit:cover;
object-position:50% 50%;
display: flex;
align-items: center;
justify-content:center;
}

.nav-2{
flex: 1;
display: flex;
flex-direction: row;                /*由左至右*/
justify-content: space-evenly;      /*間隔*/
align-items: center;                /*水平*/

}

.nav-2 div{
    letter-spacing:0.15em;          /* 文字間距 */
    font-size: 25PX;
}

.nav-2 a:hover{
    border-radius: 50PX;
    transition: 0.5s;
    background:rgba(140, 247, 255, 0.884);
    color: purple;
}

.container-fluid{
    padding:60px 5% ;
}

/* .pic1 img{
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: bottom;          向下靠攏 
} */


.row{
    padding:0% 10%;
}

.title2 {
    background-color:#FFF8D7;
    padding-top: 60px;
}

h1{
    color: purple;
    letter-spacing:0.15em;
    font-size:60px;
    font-weight:800;    /* 粗體 */
    text-align: center;
}

hr{
    border-color: #727878;
    opacity: 0.3;
    align-items: center;
    width: 100%;
    margin:30px 0;

}

.title2 .box{
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

h2{
    font-weight:800;    /* 粗體 */
    font-size: 40px;
    color: rgba(255, 175, 1, 0.973);

}

.title2-1 img{
    max-width: 100%;

    border-radius: 45px;
}

.title2 p{
    font-family: DFKai-sb;
    display: inline-block;
    color: black;
    font-size: 25px;
    line-height: 1.8em;
    letter-spacing: 0.2em;
    word-wrap:break-word;   /*以單字為單位換行*/
}

.title3{
    background-color:white;

}

.title3-1-1{
    position: relative;

}

h3{
    color: purple;
    font-size: 25px;
    line-height:1.2em ;
    letter-spacing:0.1em;
    text-align: left;
}

.title3 p{
    font-size: 20px;
    color: purple;
    line-height: 1.0em;
    letter-spacing:0.1em;
    text-align: left;
}

.hover1{
    position: absolute;
    opacity: 0;
    text-align: center;
    padding-top: 5px;
    width: 100%;
    height: 100%;
}

.hover1-2{
    padding-left: 4em;
}

.hover1:hover{
    width: 100%;
    transition: 0.5s;
    background-color: rgba(140, 247, 255, 0.884);
    opacity: 1;
}

.title4{
    background-color:#FFF8D7;
    height: 100%;
}

.title4 div{
    text-align: center;
}

.title4 p{
    color: black;
    font-size: 25px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    word-wrap:break-word;   /*以單字為單位換行*/
} 












.footer{
    width: 100%;
    height: 50px;
    opacity: 0.5;
    font-size: 20px;
    background-color: rgba(140, 247, 255, 0.884);
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.3em;
    color: purple;

}

@media screen and (max-width: 767px){
    .title2{
    padding:20px;
    }

    .title2 p{
        font-family: DFKai-sb;
        display: inline-block;
        color: black;
        font-size: 17px;
        line-height: 1.8em;
        letter-spacing: 0.2em;
        word-wrap:break-word;   /*以單字為單位換行*/
    }

    h1{
        color: purple;
        letter-spacing:0.15em;
        font-size:40px;
        font-weight:800;    /* 粗體 */
        text-align: center;
    }
    
    h2{
    font-weight:800;    /* 粗體 */
    font-size: 30px;
    color: rgba(255, 175, 1, 0.973);

    }

    h3{
    color: purple;
    font-size: 10px;
    line-height:1.2em ;
    letter-spacing:0.1em;
    text-align: left;
    }






}