a{text-decoration:none}
a:hover{text-decoration:none}  /*超連結去底線*/

@keyframes begin{
    0%{color: #C2C2FF;}
    10%{color: gray;}
    20%{color: gold;}
    30%{color: orange;}
    40%{color: red;}
    50%{color: black;}
    60%{color: white;}
    70%{color: purple;}
    80%{color: #8C8CFF;}
    90%{color: blue;}
    100%{color: green;}
}

/* .title{
    animation-name:change-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} */

.top{
position: fixed;
top: 0%;left: 0%; 
width:100%; 
height: 65px;; 
background-color: white ;
opacity:0.9;
display: flex;
}

.top img{
   height: 30px; width: 30px; ;
}

.top-1{
padding: 25px;
text-align: center;
flex: 1;
width:23px;
height:23px;
object-fit:cover;
object-position:50% 50%;
}

.top-2{
flex: 1;
display: flex;
flex-direction: row;                /*由左至右*/
justify-content: space-evenly;      /*間隔*/
align-items: center;                /*水平*/

}

.top-2 div{
    line-height: 30PX;
    letter-spacing:0.15em;          /* 文字間距 */
    font-size: 25PX;
    text-align: center;
    color: purple;
}

.top-2 div:hover{

    background:#D6D6FF;
}

.top-3{
padding-top: 25px;

}

.pic1 img{
max-width: 100%;
object-fit: cover;
object-position: 50% 50%;
vertical-align: bottom;         /* 向下靠攏 */
}

@keyframes change-color{
    0%{color: #C2C2FF;}
    10%{color: gray;}
    20%{color: gold;}
    30%{color: orange;}
    40%{color: red;}
    50%{color: black;}
    60%{color: white;}
    70%{color: purple;}
    80%{color: #8C8CFF;}
    90%{color: blue;}
    100%{color: green;}
}

/* .title{
    animation-name:change-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} */

.title2{
    background-color:#FFF8D7;
    padding: 60px 60px 150px 60px;
}

h1{
    color: purple;
    line-height: normal;
    letter-spacing:0.15em;
    font-size:63px;
    font-weight:bold;
    text-align: center;
}


h1:hover{
    background-color:;
    opacity: ;
    border-radius:;
}

hr{
    border-color: #727878;
    opacity: 0.2;
    align-items: center;
    width: 80%;
    margin-bottom:60px ;
}

.title2 .box{
    display: flex;
    flex-direction: row;                /*由左至右*/ 
    align-items: center;
    justify-content:space-between;
    margin-top: 50px;

}

h2{
    font-weight: 700;
    font-size: 40px;
    color: purple;

}

.title2-1{
    width: 30%;
}

.title2-1 img{
    align-items: center;
    max-width: 85%;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align:auto;
    border: 0px purple solid;
    border-radius: 45px;
}

.title2-2{
    width: 30%;
}

.title2-3{
    width: 30%;
}

.about{
    padding: 40px 60px 40px 60px ;
    
}

.title2 p{
    font-family: DFKai-sb;
    display: inline-block;
    color: black;
    font-size: 27px;
    line-height: 1.8em;
    letter-spacing: 0.2em;
    word-wrap:break-word;   /*以單字為單位換行*/
    text-align: center;
}

.title3{
    background-color:white;
    padding: 60px 200px 150px 200px;
    height: 600px;
}

.title3-1{
    display: flex;

}

.title3-1-1 img{
    height: 350px;
    width: 600px;
}
.title3-1-1{
    position: relative;
}

.title3-1-1-1 {
    position: absolute;top:20px;left: 20px;
}

.title3-1-1-1:hover{

    background-color: rgba(140, 247, 255, 0.884);
    opacity: 0.9;
    transition: 0.5s;
}


h3{
    color: purple;
    font-size: 40px;
    line-height:1.2em ;
    letter-spacing:0.1em;
}

.title3 p{
    font-size: 20px;
    color: purple;
    line-height: 1.0em;
    letter-spacing:0.1em
}

.title3 a{
    position: relative;
}

.title4{
    background-color:#FFF8D7;
    padding: 60px 150px 60px 150px;
}

.title4-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
/*     align-items: center;
    justify-content:center; */
}

.title4-1 div{
    text-align: center;
    width:50%;
    height: 150px;
    background-color:;
}

.title4 p{
    color: black;
    font-size: 27px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    word-wrap:break-word;   /*以單字為單位換行*/

} 












.footer{
    width: 100%;
    height: 50px;
    opacity: 0.5;
    font-size: 20px;
    background-color: rgba(140, 247, 255, 0.884);
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.3em;
    color: purple;

}