


































































































.footer{
    height: 50px;
    opacity: 0.5;
    font-size: 15px;
    background-color: rgba(140, 247, 255, 0.884);
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.3em;
    color: purple;
}


@media screen and (min-width: 767px){

.footer{
    font-size: 20px;   
}

}